// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.trollbox {
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
}

.coin-icon {
    height: 40px;
}
